{% extends "base.html" %}

{% block title %}
    Posts
{% endblock %}

{% block content %}
    <h1>All Posts</h1>
    <div>
        <ul class="post-list">
            {% for post in posts %}
                <li>
                    <span class="post-id">{{ post.id }}</span>
                    <span class="post-title">{{ post.title }}</span>
                    <a href="{% url 'post_detail' post.id %}">Continue Reading</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}